@charset "UTF-8";
/* =========================================================
parts
========================================================= */
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&family=Roboto:wght@400;700&display=swap");
/* =========================================================
body
========================================================= */
body {
  color: #fff;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "游ゴシック体", "Yu Gothic", YuGothic, Meiryo, メイリオ, "Noto Sans JP", sans-serif;
  background: #000;
  -webkit-overflow-scrolling: touch;
  word-break: break-word;
  font-feature-settings: "palt";
}

*::selection {
  background: #F2F2F2;
}

input, textarea, select {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "游ゴシック体", "Yu Gothic", YuGothic, Meiryo, メイリオ, "Noto Sans JP", sans-serif;
}

*:before, *:after {
  display: block;
}

img {
  margin: 10%;
  width: 80%;
  display: block;
  margin: auto;
}

a {
  text-decoration: none;
}

p {
  font-weight: bold;
  font-size: 20px;
}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  display: block;
  margin: auto;
}

@media (min-width: 769px) {
  .logo {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
    display: block;
    margin: auto;
  }
}

@media (min-width: 769px) {
  button {
    cursor: pointer;
  }
}
svg.hide {
  display: none;
}

.pc-br {
  display: none;
}

@media (min-width: 769px) {
  .pc-br {
    display: inline;
  }
}
@media (min-width: 769px) {
  .sp-br {
    display: none;
  }
}
.pc-disp {
  display: none;
}

@media (min-width: 769px) {
  .pc-disp {
    display: block;
  }
}
@media (min-width: 769px) {
  .sp-disp {
    display: none;
  }
}
@media (min-width: 769px) {
  .opacity-link {
    transition: opacity 0.2s ease;
  }

  .opacity-link:hover {
    opacity: 0.7;
  }
}
.txt-link {
  text-decoration: underline;
}

@media (min-width: 769px) {
  .txt-link {
    text-decoration: underline;
  }

  .txt-link:hover {
    text-decoration: none;
  }
}
.wrapper {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
}

@media (min-width: 769px) {
  .main-cont {
    padding: 0 94px;
  }
}
/*------------------------------------------
page layout
------------------------------------------*/
.page-ttl {
  padding: 40px 20px;
}

@media (min-width: 769px) {
  .page-ttl {
    padding: 68px 0 80px;
    text-align: center;
  }
}
.page-ttl .en {
  font-family: "IM Fell French Canon", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0.015em;
  display: block;
}

@media (min-width: 769px) {
  .page-ttl .en {
    font-size: 64px;
  }
}
.page-ttl .ja {
  margin: 12px auto 0;
  color: #6A6B6F;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.1em;
  display: block;
}

@media (min-width: 769px) {
  .page-ttl .ja {
    margin: 16px auto 0;
    font-size: 18px;
  }
}
/*------------------------------------------
breadcrumb
------------------------------------------*/
.breadcrumb {
  display: none;
}

@media (min-width: 769px) {
  .breadcrumb {
    display: block;
    padding: 24px 0 0;
  }
}
.breadcrumb-list > * {
  display: inline;
  letter-spacing: -0.4em;
}

.breadcrumb-item {
  margin: 0 1em 0 0;
  color: #6A6B6F;
  font-size: 11px;
  line-height: 1.3;
}

.breadcrumb-item:after {
  content: "/";
  margin: 0 0 0 1em;
  display: inline;
}

.breadcrumb-item:last-child:after {
  content: none;
}

.breadcrumb-item > * {
  letter-spacing: 0.05em;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

/*------------------------------------------
pager
------------------------------------------*/
.pager {
  min-height: 1em;
  padding: 24px 7px 24px;
  border-top: 1px solid #CED1D8;
  border-bottom: 1px solid #CED1D8;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  position: relative;
}

.pager-block {
  margin: 40px auto 0;
  padding: 0 20px;
}

@media (min-width: 769px) {
  .pager-block {
    max-width: 490px;
    margin: 80px auto 0;
    padding: 0;
  }
}
@media (min-width: 769px) {
  .pager {
    padding: 0;
    border: none;
  }
}
.pager .btn, .pager .link {
  display: inline-block;
}

.pager .btn a, .pager .btn span, .pager .link a, .pager .link span {
  display: block;
  position: relative;
  letter-spacing: 0.05em;
}

@media (min-width: 769px) {
  .pager .btn a, .pager .btn span, .pager .link a, .pager .link span {
    font-size: 13px;
    letter-spacing: 0.04em;
  }
}
.pager .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pager .btn a:after, .pager .btn span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-top: 2px solid #6A6B6F;
  border-left: 2px solid #6A6B6F;
  position: absolute;
  top: 50%;
}

.pager .btn span:after {
  content: none;
}

.pager .prev-btn {
  left: 0;
}

.pager .prev-btn a {
  padding: 0 0 0 22px;
}

.pager .prev-btn a:after {
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
}

.pager .next-btn {
  right: 0;
}

.pager .next-btn a {
  padding: 0 22px 0 0;
}

.pager .next-btn a:after {
  right: 0;
  transform: translateY(-50%) rotate(135deg);
}

.pager .current {
  display: inline-block;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  color: #6A6B6F;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (min-width: 769px) {
  .pager .current {
    font-size: 18px;
  }
}
.pager .slash {
  display: inline-block;
  margin: 0 0.5em;
  font-size: 10px;
  transform: translateY(-2px);
}

@media (min-width: 769px) {
  .pager .slash {
    margin: 0 0.6em;
    font-size: 14px;
  }
}
/*------------------------------------------
sticky banner
------------------------------------------*/
.sticky-bnr {
  width: calc(100% - 30px);
  max-width: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.sticky-bnr .close {
  width: 56px;
  height: 48px;
  background: #000;
  position: relative;
  position: absolute;
  bottom: 100%;
  right: 0;
}

.sticky-bnr .close:before, .sticky-bnr .close:after {
  content: "";
  width: 28px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}

.sticky-bnr .close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.sticky-bnr .close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sticky-bnr a {
  display: block;
}

/*------------------------------------------
pict list
------------------------------------------*/
.cmn-pict-list01 {
  display: flex;
  flex-wrap: wrap;
}

.cmn-pict-list01 .bundle {
  width: 50%;
  margin: 15px 0 0 0;
  display: flex;
  align-items: center;
}

@media (min-width: 769px) {
  .cmn-pict-list01 .bundle {
    width: 33.33%;
  }
}
@media (min-width: 1025px) {
  .cmn-pict-list01 .bundle {
    width: 22.666%;
  }
}
.cmn-pict-list01 .bundle.w100 {
  width: 100%;
}

@media (min-width: 769px) {
  .cmn-pict-list01 .bundle.w100 {
    width: 33.33%;
  }
}
@media (min-width: 1025px) {
  .cmn-pict-list01 .bundle.w100 {
    width: 22.666%;
  }
}
@media (min-width: 769px) {
  .cmn-pict-list01 .bundle:nth-child(3n) {
    width: 33.33%;
  }
}
@media (min-width: 1025px) {
  .cmn-pict-list01 .bundle:nth-child(3n) {
    width: 22.66%;
  }
}
@media (min-width: 1025px) {
  .cmn-pict-list01 .bundle:nth-child(4n-1) {
    width: 32%;
  }
}
.cmn-pict-list01 .bundle:nth-last-child(2) {
  order: 1;
}

@media (min-width: 769px) {
  .cmn-pict-list01 .bundle:nth-last-child(2) {
    order: 0;
  }
}
.cmn-pict-list01 .bundle:nth-last-child(1) {
  order: 0;
}

.cmn-pict-list01 dt {
  width: 30px;
  border: 1px solid #000;
  background: #fff;
}

.cmn-pict-list01 dd {
  width: calc(100% - 30px);
  padding: 0 0 0 0.5em;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  position: relative;
}

@media (max-width: 355px) {
  .cmn-pict-list01 dd {
    font-size: 12px;
  }
}
@media (min-width: 769px) {
  .cmn-pict-list01 dd {
    font-size: 12px;
  }
}
@media (min-width: 1025px) {
  .cmn-pict-list01 dd {
    font-size: 14px;
  }
}
.cmn-pict-list01 dd:before {
  content: "…";
  display: inline;
  margin: 0 0.5em 0 0;
}

.cmn-pict-list02 {
  display: flex;
}

.cmn-pict-list02 .pict {
  margin: 0 8px 0 0;
  border: 1px solid #000;
}

.cmn-pict-list02 .pict:last-child {
  margin-right: 0;
}

.cmn-pict-list02 .pict a {
  display: block;
  transition: background 0.2s ease;
}

@media (min-width: 769px) {
  .cmn-pict-list02 .pict a:hover {
    background: #F2F2F2;
  }
}
.cmn-pict-list03 {
  display: flex;
}

.cmn-pict-list03 li {
  margin: 0 9px 0 0;
}

.cmn-pict-list03 li:last-child {
  margin-right: 0;
}

.cmn-pict-list03 a {
  width: 40px;
  height: 40px;
  border: 1px solid #CED1D8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
}

@media (min-width: 769px) {
  .cmn-pict-list03 a:hover {
    background: #F2F2F2;
  }
}
.cmn-pict-list03 svg {
  width: 16px;
  height: 16px;
}

@media (min-width: 769px) {
  .cmn-pict-list03 .line {
    display: none;
  }
}
/*------------------------------------------
modal
------------------------------------------*/
.modal-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  display: none;
}

.modal-bg {
  width: 100%;
  height: 120vh;
  background: rgba(0, 0, 0, 0.8);
}

.modal-wrap {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-close {
  display: block;
  width: 56px;
  height: 48px;
  margin: 0 0 0 auto;
  background: #000;
  position: relative;
}

@media (min-width: 769px) {
  .modal-close {
    width: 48px;
  }
}
.modal-close:before, .modal-close:after {
  content: "";
  width: 28px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 18px;
  transform-origin: left;
}

@media (min-width: 769px) {
  .modal-close:before, .modal-close:after {
    left: 14px;
  }
}
.modal-close:before {
  top: 13px;
  transform: rotate(45deg);
}

.modal-close:after {
  top: 33px;
  transform: rotate(-45deg);
}

.modal-cont {
  background: #fff;
}

/*------------------------------------------
title
------------------------------------------*/
.cmn-ttl01 .en {
  padding: 0 0 12px;
  font-family: "IM Fell French Canon", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 42px;
  line-height: 1.1428571429;
  letter-spacing: 0.015em;
  text-align: center;
  position: relative;
}

@media (min-width: 769px) {
  .cmn-ttl01 .en {
    padding: 0 0 17px;
    font-size: 56px;
  }
}
.cmn-ttl01 .en:after {
  content: "";
  width: 32px;
  height: 4px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 769px) {
  .cmn-ttl01 .en:after {
    width: 40px;
  }
}
.cmn-ttl01 .ja {
  margin: 15px auto 0;
  color: #6A6B6F;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.1em;
  text-align: center;
}

@media (min-width: 769px) {
  .cmn-ttl01 .ja {
    margin: 24px auto 0;
    font-size: 15px;
  }
}

.info-title1 {
  padding: 5px 0 1px;
  text-align: center;
}

@media (min-width: 769px) {
  .info-title1 {
    padding: 5px 0 20px;
  }
}
.info-title1 > * {
  display: block;
}

.info-title1 .en {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.04em;
}

@media (min-width: 769px) {
  .info-title1 .en {
    font-size: 32px;
  }
}
.info-title1 .ja {
  margin: 13px auto 0;
  color: #6A6B6F;
  font-size: 13px;
  line-height: 1;
}

@media (min-width: 769px) {
  .cmninfo-title1 .ja {
    margin: 16px auto 0;
    font-size: 14px;
  }
}

.info-title2 {
  padding: 64px 0 1px;
  text-align: center;
}

@media (min-width: 769px) {
  .info-title2 {
    padding: 40px 0 20px;
  }
}
.info-title2 > * {
  display: block;
}

.info-title2 .en {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.04em;
}

@media (min-width: 769px) {
  .info-title2 .en {
    font-size: 32px;
  }
}
.info-title2 .ja {
  margin: 13px auto 0;
  color: #6A6B6F;
  font-size: 13px;
  line-height: 1;
}

@media (min-width: 769px) {
  .cmninfo-title2 .ja {
    margin: 16px auto 0;
    font-size: 14px;
  }
}
/*------------------------------------------
button
------------------------------------------*/
.cmn-btn01 {
  text-align: center;
}

.cmn-btn01 a,
.cmn-btn01 button {
  display: inline-block;
  padding: 0 0.1em 10px;
  font-size: 14px;
  line-height: 1;
  position: relative;
  overflow: hidden;
}

.cmn-btn01 a:before, .cmn-btn01 a:after,
.cmn-btn01 button:before,
.cmn-btn01 button:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
}

.cmn-btn01 a:before,
.cmn-btn01 button:before {
  left: 0;
  transition: left 0.2s ease;
}

.cmn-btn01 a:after,
.cmn-btn01 button:after {
  content: none;
  transition: left 0.2s ease 0.4s;
}

@media (min-width: 769px) {
  .cmn-btn01 a:after,
.cmn-btn01 button:after {
    content: "";
    left: -100%;
  }
}
@media (min-width: 769px) {
  .cmn-btn01 a:hover:before,
.cmn-btn01 button:hover:before {
    left: 100%;
  }
}
@media (min-width: 769px) {
  .cmn-btn01 a:hover:after,
.cmn-btn01 button:hover:after {
    left: 0;
  }
}
.cmn-btn02 a, .cmn-btn02 button {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
  font-size: 14px;
  line-height: 1.9285714286;
  transition: background 0.2s ease, color 0.2s ease;
}

@media (max-width: 350px) {
  .cmn-btn02 a, .cmn-btn02 button {
    font-size: 12px;
  }
}
.cmn-btn02 .ico {
  display: inline-block;
  margin: 0 0.5em 0 0;
}

.cmn-btn02 svg {
  fill: #000;
  vertical-align: sub;
  transition: fill 0.2s ease;
}

@media (min-width: 769px) {
  .cmn-btn02 a:hover, .cmn-btn02 button:hover {
    background: #000;
    color: #fff;
  }
}
@media (min-width: 769px) {
  .cmn-btn02 a:hover svg, .cmn-btn02 button:hover svg {
    fill: #fff;
  }
}
.cmn-btn02.type02 a {
  background: #000;
  color: #fff;
}

.cmn-btn02.type02 svg {
  fill: #fff;
}

@media (min-width: 769px) {
  .cmn-btn02.type02 a:hover {
    background: #fff;
    color: #1E1E1F;
  }
}
@media (min-width: 769px) {
  .cmn-btn02.type02 a:hover svg {
    fill: #1E1E1F;
  }
}
.cmn-btn02.type03 a {
  border-color: #CB0000;
  background: #CB0000;
  color: #fff;
}

.cmn-btn02.type03 svg {
  fill: #fff;
}

@media (min-width: 769px) {
  .cmn-btn02.type03 a:hover {
    background: #fff;
    color: #CB0000;
  }
}
@media (min-width: 769px) {
  .cmn-btn02.type03 a:hover svg {
    fill: #CB0000;
  }
}
/*------------------------------------------
list
------------------------------------------*/
.cmn-list01 a {
  display: block;
}

.cmn-list01 .img-wrap {
  position: relative;
  overflow: hidden;
}

.cmn-list01 .img {
  overflow: hidden;
}

.cmn-list01 .logo {
  padding-top: calc(100% - 2px);
  border: 1px solid #CED1D8;
  position: relative;
  overflow: hidden;
}

.cmn-list01 .logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  font-family: "object-fit: contain;";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cmn-list01 .tag {
  padding: 3px 8px;
  background: #fff;
  font-family: "Avenir Next", "ヒラギノ角ゴ Pro W3", "游ゴシック体", "Yu Gothic", YuGothic, "Roboto", sans-serif;
  letter-spacing: 0.05em;
  font-size: 10px;
  line-height: 1;
  position: absolute;
}

@media (min-width: 769px) {
  .cmn-list01 .tag {
    font-size: 12px;
  }
}
.cmn-list01 .detail {
  padding: 15px 0 0;
}

.cmn-list01 .status {
  margin: 0 auto 10px;
  color: #CB0000;
  font-size: 12px;
  line-height: 1;
}

@media (min-width: 769px) {
  .cmn-list01 .status {
    letter-spacing: 0.08em;
  }
}
.cmn-list01 .date {
  margin: 7px auto 0;
  font-family: "Avenir Next", "ヒラギノ角ゴ Pro W3", "游ゴシック体", "Yu Gothic", YuGothic, "Roboto", sans-serif;
  letter-spacing: 0.05em;
  color: #6A6B6F;
  font-size: 12px;
  line-height: 1;
}

@media (min-width: 769px) {
  .cmn-list01 .date {
    margin: 10px auto 0;
    font-size: 12px;
  }
}
.cmn-list01 .floor-wrap {
  margin: 0 auto 10px;
}

.cmn-list01 .floor-wrap .floor {
  display: inline-block;
  padding: 3px 8px;
  background: #000;
  color: #fff;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.05em;
}

.cmn-list01 .floor-wrap .ctg {
  margin: 0 0 0 0.6em;
  font-size: 13px;
  line-height: 1;
}

.cmn-list01 .new {
  margin: 0 0 0 8px;
  font-family: "Avenir Next", "ヒラギノ角ゴ Pro W3", "游ゴシック体", "Yu Gothic", YuGothic, "Roboto", sans-serif;
  letter-spacing: 0.05em;
  color: #CB0000;
  font-size: 11px;
  line-height: 1;
}

@media (min-width: 769px) {
  .cmn-list01 .new {
    font-size: 12px;
  }
}
.cmn-list01 .shop {
  font-size: 11px;
  line-height: 1.3636363636;
}

.cmn-list01 .shop + .txt01 {
  margin: 10px auto 0;
}

.cmn-list01 .txt01 {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 15px;
  line-height: 1.4;
  font-weight: bold;
}

.cmn-list01 .txt02 {
  margin: 6px auto 0;
  color: #6A6B6F;
  font-size: 10px;
  line-height: 1.4;
}

.cmn-list01 .txt03 {
  margin: 6px auto 0;
  font-size: 10px;
  line-height: 1.4;
}

.cmn-list01 .txt04 {
  margin: 6px auto 0;
  color: #6A6B6F;
  font-size: 10px;
  line-height: 1.4;
}

@media (min-width: 769px) {
  .cmn-list01 .txt04 {
    font-size: 12px;
  }
}
.cmn-list01 .txt05 {
  margin: 10px auto 0;
  color: #CB0000;
  font-size: 12px;
  line-height: 1;
}

@media (min-width: 769px) {
  .cmn-list01 .txt05 {
    font-size: 12px;
  }
}
.cmn-list02 {
  padding: 16px 20px 0;
}

@media (min-width: 769px) {
  .cmn-list02 {
    padding: 17px 0 0;
    display: flex;
    flex-wrap: wrap;
  }
}
.cmn-list02 .item {
  border-bottom: 1px solid #CED1D8;
}

@media (min-width: 769px) {
  .cmn-list02 .item {
    width: calc(50% - 24px);
    margin: 0 48px 0 0;
  }

  .cmn-list02 .item:nth-child(2n) {
    margin-right: 0;
  }
}
.cmn-list02 .item > a {
  height: 100%;
  padding: 24px 25px 16px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cmn-list02 .item > a:after {
  content: "";
  width: 8px;
  height: 8px;
  border-top: 2px solid #6A6B6F;
  border-right: 2px solid #6A6B6F;
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%) rotate(45deg);
}

.cmn-list02 .item > a > * {
  width: 100%;
}

.cmn-list02 .txt01 {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 15px;
  line-height: 1.4;
  font-weight: bold;
}

.cmn-list02 .txt02, .cmn-list02 .txt03 {
  color: #6A6B6F;
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.08em;
}

.cmn-list02 .txt02 {
  margin: 2px auto 0;
}

.cmn-list02 .txt03 {
  margin: 18px auto 0;
}

@media (min-width: 769px) {
  .cmn-list02 .txt03 {
    font-size: 11px;
  }
}
.cmn-list02 .txt03:before {
  content: "-";
  display: inline;
  margin: 0 1em 0 0;
}

.cmn-list02 .txt04 {
  margin: 5px auto 0;
  font-size: 11px;
  line-height: 1.6363636364;
}

.cmn-list02 .tag {
  margin: 0 auto 5px;
}

.cmn-list02 .tag span {
  display: inline-block;
  min-width: 37px;
  padding: 3px 8px;
  background: #1E1E1F;
  color: #fff;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
}

.cmn-list03 .ttl {
  padding: 21px 63px 21px 24px;
  background: #F2F2F2;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 16px;
  line-height: 1.375;
  font-weight: bold;
  letter-spacing: 0.08em;
  position: relative;
}

@media (min-width: 769px) {
  .cmn-list03 .ttl {
    padding: 22px 64px 21px 24px;
    cursor: pointer;
  }
}
.cmn-list03 .ttl.js-accbtn:before {
  content: "";
  width: 15px;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

.cmn-list03 .ttl.js-accbtn:after {
  content: "";
  width: 1px;
  height: 15px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 31px;
  transform: translateY(-50%);
}

.cmn-list03 .ttl.js-accbtn.is-open:after {
  opacity: 0;
}

.cmn-list03 .contents {
  padding: 40px 20px;
}

@media (min-width: 769px) {
  .cmn-list03 .contents {
    padding: 40px 32px;
  }
}
.js-acccont {
  display: none;
}

/*------------------------------------------
navigation
------------------------------------------*/
.cmn-nav01 {
  width: 100%;
  padding: 0 20px;
}

@media (min-width: 769px) {
  .cmn-nav01 {
    padding: 0;
  }
}
.cmn-nav01 .nav-list {
  border-bottom: 1px solid #CED1D8;
  display: flex;
  justify-content: center;
}

.cmn-nav01 .nav-item a {
  padding: 0 0 20px;
  display: block;
  font-size: 13px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.cmn-nav01 .nav-item a:after {
  content: "";
  width: 0;
  height: 4px;
  background: #000;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

@media (min-width: 769px) {
  .cmn-nav01 .nav-item a:hover:after {
    width: 100%;
  }
}
.cmn-nav01 .nav-item .current:after {
  width: 100%;
}

.cmn-nav02 label {
  display: block;
  position: relative;
}

.cmn-nav02 .dummy {
  display: block;
  width: 100%;
  padding: 17px 0;
  border: 1px solid #000;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
}

.cmn-nav02 select {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.cmn-nav03 {
  padding: 0 20px;
}

@media (min-width: 769px) {
  .cmn-nav03 {
    padding: 0;
  }
}
.cmn-nav03 .nav-list {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 769px) {
  .cmn-nav03 .nav-list {
    width: calc(100% + 8px);
    transform: translate(-4px, -4px);
  }
}
.cmn-nav03 .nav-item {
  width: calc(16.66% - 12.5px);
  height: 11.2vw;
  margin: 15px 15px 0 0;
}

@media (min-width: 769px) {
  .cmn-nav03 .nav-item {
    width: 65px;
    height: 65px;
    padding: 4px;
    margin: 0;
  }
}
.cmn-nav03 .nav-item:nth-child(-n+6) {
  margin-top: 0;
}

.cmn-nav03 .nav-item:nth-child(6n) {
  margin-right: 0;
}

.cmn-nav03 .nav-item.x2 {
  width: calc(33.2% - 12.5px);
}

@media (min-width: 769px) {
  .cmn-nav03 .nav-item.x2 {
    width: 130px;
    padding: 4px;
  }
}
.cmn-nav03 .nav-item a, .cmn-nav03 .nav-item span {
  width: 100%;
  height: 100%;
  border: 1px solid #CED1D8;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cmn-nav03 .nav-item a.current, .cmn-nav03 .nav-item span.current {
  border: 2px solid #000;
  pointer-events: none;
}

.cmn-nav03 .nav-item a {
  transition: background 0.2s ease;
}

@media (min-width: 769px) {
  .cmn-nav03 .nav-item a:hover {
    background: #F2F2F2;
  }
}
.cmn-nav03 .nav-item span {
  color: rgba(30, 30, 31, 0.3);
}

.cmn-nav04 {
  padding: 0 20px;
}

.cmn-nav04 .nav-list {
  display: flex;
  flex-wrap: wrap;
}

.cmn-nav04 .nav-item {
  width: calc(50% - 10px);
  margin: 20px 20px 0 0;
}

@media (min-width: 769px) {
  .cmn-nav04 .nav-item {
    width: calc(25% - 15px);
  }
}
.cmn-nav04 .nav-item:nth-child(-n+2) {
  margin-top: 0;
}

@media (min-width: 769px) {
  .cmn-nav04 .nav-item:nth-child(-n+4) {
    margin-top: 0;
  }
}
.cmn-nav04 .nav-item:nth-child(2n) {
  margin-right: 0;
}

@media (min-width: 769px) {
  .cmn-nav04 .nav-item:nth-child(2n) {
    margin-right: 20px;
  }
}
@media (min-width: 769px) {
  .cmn-nav04 .nav-item:nth-child(4n) {
    margin-right: 0;
  }
}
.cmn-nav04 .nav-item label {
  cursor: pointer;
}

.cmn-nav04 .nav-item input[type=checkbox] {
  display: none;
}

.cmn-nav04 .nav-item .txt {
  display: inline-block;
  padding: 0 0 0 25px;
  font-size: 12px;
  line-height: 1.5;
  position: relative;
}

@media (min-width: 769px) {
  .cmn-nav04 .nav-item .txt {
    font-size: 13px;
  }
}
.cmn-nav04 .nav-item .txt:before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #CED1D8;
  position: absolute;
  top: 2px;
  left: 0;
}

.cmn-nav04 .nav-item .txt:after {
  content: "";
  width: 4px;
  height: 7px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0;
}

.cmn-nav04 .nav-item input:checked + .txt:before {
  border: none;
  background: #000;
}

.cmn-nav04 .nav-item input:checked + .txt:after {
  opacity: 1;
}

.cmn-nav05 .nav-list {
  display: flex;
  flex-wrap: wrap;
}

.cmn-nav05 .nav-item a {
  display: block;
  height: 100%;
  padding: 15px 10px;
  border: 1px solid #000;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.05em;
  text-align: center;
}

/*------------------------------------------
layout
------------------------------------------*/
.cmn-layout01 .ttl {
  padding: 0 0 8px;
  border-bottom: 1px solid #fff;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 16px;
  line-height: 1.875;
  font-weight: bold;
}

@media (min-width: 769px) {
  .cmn-layout01 .ttl {
    padding: 0 0 5px;
    font-size: 18px;
    line-height: 1.8;
  }
}
.cmn-layout01 .list {
  margin: 24px auto 0;
  font-size: 12px;
  line-height: 1.5;
}

@media (min-width: 769px) {
  .cmn-layout01 .list {
    margin: 32px auto 0;
  }
}
.cmn-layout01 .bundle {
  margin: 0 auto 15px;
  display: flex;
}

.cmn-layout01 .bundle:last-child {
  margin-bottom: 0;
}

.cmn-layout01 dt {
  width: 120px;
}

.cmn-layout01 dd {
  width: calc(100% - 120px);
  padding: 0 0 0 8px;
}

.cmn-layout01 dd a {
  text-decoration: underline;
}

.cmn-layout01 .sns-list {
  display: flex;
  align-items: center;
}

.cmn-layout01 .sns-item {
  margin: 0 20px 0 0;
}

.cmn-layout01 .sns-item:last-child {
  margin-right: 0;
}

.cmn-layout01 .sns-item a {
  display: block;
}

.cmn-layout01 .sns-item svg {
  fill: #000;
}

.cmn-layout01 .sns-item.insta svg {
  width: 15px;
  height: 15px;
}

.cmn-layout01 .sns-item.tw svg {
  width: 17px;
  height: 13px;
}

.cmn-layout01 .sns-item.line svg {
  width: 16px;
  height: 15px;
}

.cmn-layout01 .sns-item.fb svg {
  width: 8px;
  height: 15px;
}

.cmn-layout02 {
  padding: 40px 20px 0;
}

@media (min-width: 769px) {
  .cmn-layout02 {
    padding: 40px 0 0;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 769px) {
  .cmn-layout02 .head, .cmn-layout02 .head-in {
    width: 250px;
  }
}
@media (min-width: 1025px) {
  .cmn-layout02 .head, .cmn-layout02 .head-in {
    width: 332px;
  }
}
@media (min-width: 769px) {
  .cmn-layout02 .head-in.is-fixed {
    position: fixed;
  }
}
.cmn-layout02 .main {
  margin: 32px auto 0;
}

@media (min-width: 769px) {
  .cmn-layout02 .main {
    width: calc(100% - 250px);
    margin: 0;
    padding: 0 0 0 50px;
  }
}
@media (min-width: 1025px) {
  .cmn-layout02 .main {
    width: 44.2857142857vw;
    padding: 0 50px;
  }
}
.cmn-layout02 .main > * {
  margin: 32px auto 0;
}

@media (min-width: 769px) {
  .cmn-layout02 .main > * {
    margin: 40px auto 0;
  }
}
.cmn-layout02 .main > *:first-child {
  margin-top: 0;
}

.cmn-layout02 .ctg-ttl {
  border-bottom: 1px solid #CED1D8;
}

.cmn-layout02 .ctg-ttl span {
  display: inline-block;
  padding: 0 0 4px;
  border-bottom: 4px solid #000;
  font-size: 13px;
  line-height: 1;
  font-family: "Avenir Next", "ヒラギノ角ゴ Pro W3", "游ゴシック体", "Yu Gothic", YuGothic, "Roboto", sans-serif;
  letter-spacing: 0.05em;
  transform: translateY(1px);
}

.cmn-layout02 .ttl {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 22px;
  line-height: 1.5;
  font-weight: bold;
}

@media (min-width: 769px) {
  .cmn-layout02 .ttl {
    font-size: 26px;
    line-height: 1.4;
  }
}
.cmn-layout02 .status {
  color: #CB0000;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
}

@media (min-width: 769px) {
  .cmn-layout02 .status {
    letter-spacing: 0.08em;
  }
}
.cmn-layout02 .date {
  color: #6A6B6F;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.05em;
}

@media (min-width: 769px) {
  .cmn-layout02 .date {
    font-size: 13px;
  }
}
.cmn-layout02 .place {
  margin: 14px auto 0;
  font-family: "Avenir Next", "ヒラギノ角ゴ Pro W3", "游ゴシック体", "Yu Gothic", YuGothic, "Roboto", sans-serif;
  letter-spacing: 0.05em;
  color: #6A6B6F;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.05em;
}

@media (min-width: 769px) {
  .cmn-layout02 .place {
    font-size: 13px;
  }
}
.cmn-layout02 .share-list {
  margin: 16px auto 0;
}

@media (min-width: 769px) {
  .cmn-layout02 .share-list {
    margin: 32px auto 0;
  }
}
.cmn-layout02 .img-wrap {
  width: 100vw;
  transform: translateX(-20px);
  position: relative;
}

@media (min-width: 769px) {
  .cmn-layout02 .img-wrap {
    width: 100%;
    transform: none;
  }
}
.cmn-layout02 .slick-dots {
  margin: 16px auto 0;
}

.cmn-layout02 .slick-arrow {
  top: calc(50% - 22px);
  margin-top: -20px;
}

.cmn-layout02 .slick-arrow.prev {
  left: -20px;
}

@media (min-width: 1025px) {
  .cmn-layout02 .slick-arrow.prev {
    left: -50px;
  }
}
.cmn-layout02 .slick-arrow.next {
  right: -20px;
}

@media (min-width: 1025px) {
  .cmn-layout02 .slick-arrow.next {
    right: -50px;
  }
}
.cmn-layout02 .article {
  font-size: 13px;
  line-height: 1.7692307692;
}

@media (min-width: 769px) {
  .cmn-layout02 .article {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.05em;
  }
}
@media (min-width: 769px) {
  .cmn-layout02 .cmn-layout01 {
    padding: 0 0 64px;
    border-bottom: 1px solid #CED1D8;
  }
}
.cmn-layout02 .pager-block {
  max-width: 100%;
  padding: 0;
}

/*------------------------------------------
animation
------------------------------------------*/
.fadeup {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fadeup.is-active {
  opacity: 1;
  transform: translateY(0);
}

.fadein {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.fadein.is-active {
  opacity: 1;
}

/*------------------------------------------
slick custom
------------------------------------------*/
.slick-arrow {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1;
}

.slick-arrow button {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  position: relative;
}

.slick-arrow button:before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  top: 15px;
  left: 17px;
  transform: rotate(-45deg);
}

.slick-arrow.next button {
  transform: scale(-1, 1);
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.slick-dots li {
  margin: 0 6px 0 0;
}

.slick-dots li:last-child {
  margin-right: 0;
}

.slick-dots button {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #CED1D8;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.slick-dots .slick-active button {
  width: 6px;
  height: 6px;
  background: #6A6B6F;
}

/* =========================================================
common header
========================================================= */
.cmn-hd {
  position: relative;
  z-index: 10;
}

.cmn-hd-block {
  position: relative;
}

.cmn-hd-block .block01 {
  height: 48px;
  padding: 0 70px 0 13px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media (min-width: 769px) {
  .cmn-hd-block .block01 {
    padding: 0 90px 0 32px;
    height: 72px;
  }
}
@media (min-width: 850px) {
  .cmn-hd-block .block01 {
    padding: 0 110px 0 32px;
  }
}
.cmn-hd-block .block02 {
  background: #fff;
  border-top: 1px solid #CED1D8;
}

@media (min-width: 769px) {
  .cmn-hd-block .block02 {
    display: none;
  }
}
.cmn-hd .logo svg {
  width: 79px;
  height: 20px;
}

@media (min-width: 769px) {
  .cmn-hd .logo svg {
    width: 131px;
    height: 34px;
  }
}
.cmn-hd .hd-nav {
  display: flex;
  align-items: center;
}

.cmn-hd .hd-nav-list {
  display: flex;
  align-items: center;
}

.cmn-hd .hd-nav-item {
  margin: 0 15px 0 0;
}

@media (max-width: 374px) {
  .cmn-hd .hd-nav-item {
    margin: 0 7px 0 0;
  }
}
@media (min-width: 769px) {
  .cmn-hd .hd-nav-item {
    margin: 0 15px 0 0;
  }
}
@media (min-width: 850px) {
  .cmn-hd .hd-nav-item {
    margin: 0 25px 0 0;
  }
}
.cmn-hd .hd-nav-item:last-child {
  margin-right: 0;
}

.cmn-hd .hd-nav-item a, .cmn-hd .hd-nav-item button {
  display: flex;
  align-items: center;
}

.cmn-hd .hd-nav-item svg {
  width: 18px;
  height: 18px;
  fill: #000;
  vertical-align: text-top;
}

@media (min-width: 769px) {
  .cmn-hd .hd-nav-item svg {
    width: 20px;
    height: 20px;
  }
}
.cmn-hd .hd-nav-item.item-hours, .cmn-hd .hd-nav-item.item-shop, .cmn-hd .hd-nav-item.item-information {
  display: none;
}

@media (min-width: 940px) {
  .cmn-hd .hd-nav-item.item-hours, .cmn-hd .hd-nav-item.item-shop, .cmn-hd .hd-nav-item.item-information {
    display: block;
  }
}
.cmn-hd .hd-nav-item.item-access {
  display: none;
}

@media (min-width: 940px) {
  .cmn-hd .hd-nav-item.item-access {
    display: block;
  }
}
@media (min-width: 769px) {
  .cmn-hd .hd-nav-item.item-access svg {
    width: 17px;
    height: 23px;
  }
}
.cmn-hd .hd-nav-item .txt {
  margin: 0 0 0 8px;
  font-size: 12px;
  line-height: 1;
}

.cmn-hd .sp-hd-nav-list {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cmn-hd .sp-hd-nav-item {
  margin: 0 23px 0 0;
}

@media (max-width: 374px) {
  .cmn-hd .sp-hd-nav-item {
    margin: 0 10px 0 0;
    font-size: 12px;
  }
}
.cmn-hd .sp-hd-nav-item:last-child {
  margin-right: 0;
}

.cmn-hd .sp-hd-nav-item a {
  font-size: 13px;
  line-height: 1;
}

.cmn-hd.is-fixed .cmn-hd-block {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/*------------------------------------------
global navi
------------------------------------------*/
.gnav-btn {
  display: block;
  width: 56px;
  height: 48px;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  transition: right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

@media (min-width: 769px) {
  .gnav-btn {
    width: 72px;
    height: 72px;
  }
}
.gnav-btn:before, .gnav-btn:after {
  content: "";
  height: 2px;
  background: #fff;
  position: absolute;
  right: 14px;
  transform-origin: right;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

@media (min-width: 769px) {
  .gnav-btn:before, .gnav-btn:after {
    right: 20px;
  }
}
.gnav-btn:before {
  width: 28px;
  top: 19px;
}

@media (min-width: 769px) {
  .gnav-btn:before {
    width: 32px;
    top: 30px;
  }
}
.gnav-btn:after {
  width: 16px;
  top: 27px;
}

@media (min-width: 769px) {
  .gnav-btn:after {
    top: 40px;
  }
}
@media (min-width: 769px) {
  .gnav-btn:hover:before {
    width: 25px;
  }
}
@media (min-width: 769px) {
  .gnav-btn:hover:after {
    width: 32px;
  }
}
.gnav-btn.is-open {
  right: calc(100vw - 90px);
  overflow: hidden;
}

@media (min-width: 769px) {
  .gnav-btn.is-open {
    right: 0;
    background: #fff;
  }
}
.gnav-btn.is-open:before {
  top: 14px;
  right: 18px;
  transform: rotate(-45deg);
}

@media (min-width: 769px) {
  .gnav-btn.is-open:before {
    width: 28px;
    top: 26px;
    right: 24px;
    background: #000;
  }
}
.gnav-btn.is-open:after {
  width: 28px;
  top: 33px;
  right: 18px;
  transform: rotate(45deg);
}

@media (min-width: 769px) {
  .gnav-btn.is-open:after {
    width: 28px;
    top: 46px;
    right: 24px;
    background: #000;
  }
}
@media (min-width: 769px) {
  .gnav-btn.is-open:hover:before, .gnav-btn.is-open:hover:after {
    width: 28px;
  }
}
.gnav-wrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  transition: left 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.gnav-wrap.is-open {
  left: 0;
}

.gnav-bg {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.gnav-wrap.is-open .gnav-bg {
  opacity: 0.8;
}

.gnav-block {
  width: calc(100% - 90px);
  height: 100%;
  padding: 48px 20px 100px;
  background: #fff;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  overflow: scroll;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 769px) {
  .gnav-block {
    width: 615px;
    padding: 80px 45px 40px;
  }
}
@media (min-width: 769px) {
  .gnav-list01 {
    width: 50%;
  }
}
.gnav-list01 .item {
  position: relative;
}

.gnav-list01 .item > a, .gnav-list01 .item > button {
  display: block;
  padding: 12px 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
}

.gnav-list01 .item .ico {
  display: inline-block;
  width: 1px;
  height: 14px;
  margin: 0 0 0 11px;
  background: #1E1E1F;
  vertical-align: baseline;
  position: relative;
  transition: transform 0.3s ease;
}

@media (min-width: 769px) {
  .gnav-list01 .item .ico {
    height: 12px;
  }
}
.gnav-list01 .item .ico:before {
  content: "";
  width: 14px;
  height: 1px;
  background: #1E1E1F;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

@media (min-width: 769px) {
  .gnav-list01 .item .ico:before {
    width: 12px;
  }
}
.gnav-list01 .item button.is-open .ico {
  transform: rotate(-90deg);
}

.gnav-list01 .item button.is-open .ico:before {
  opacity: 0;
}

.gnav-list01 .sub-list {
  max-height: 0;
  padding: 0 0 0 33px;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.2s ease;
}

@media (min-width: 769px) {
  .gnav-list01 .sub-list {
    width: 100%;
    padding: 0 0 0 25px;
    max-height: auto;
    position: absolute;
    top: 0;
    left: 100%;
    transition: opacity 0.5s ease;
  }
}
.gnav-list01 .sub-list.is-open {
  max-height: 500px;
  opacity: 1;
}

.gnav-list01 .sub-item > a, .gnav-list01 .sub-item > button {
  display: block;
  padding: 16px 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
}

@media (min-width: 769px) {
  .gnav-list01 .sub-item > a, .gnav-list01 .sub-item > button {
    padding: 12px 0;
    font-size: 16px;
  }
}
.gnav-list02 {
  margin: 33px auto 0;
}

@media (min-width: 769px) {
  .gnav-list02 {
    margin: 40px auto 0;
  }
}
.gnav-list02 .item {
  margin: 0 auto 17px;
}

@media (min-width: 769px) {
  .gnav-list02 .item {
    margin: 0 auto 14px;
  }
}
.gnav-list02 .item:last-child {
  margin-bottom: 0;
}

.gnav-list02 a {
  font-size: 13px;
  line-height: 1.2;
  font-weight: bold;
}

@media (min-width: 769px) {
  .gnav-list02 a {
    font-size: 12px;
    letter-spacing: 0.05em;
  }
}
.gnav-list03 {
  margin: 40px auto 0;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 769px) {
  .gnav-list03 {
    width: 100%;
    padding: 0;
    transform: none;
  }
}
.gnav-list03 .item {
  width: calc(50% - 4px);
  margin: 0 8px 8px 0;
}

@media (min-width: 769px) {
  .gnav-list03 .item {
    width: calc(50% - 2px);
    margin: 4px 4px 0 0;
  }
}
.gnav-list03 .item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.gnav-list03 .item:nth-child(2n) {
  margin-right: 0;
}

@media (max-width: 768px) {
  .gnav-list03 .item.w100 {
    width: 100%;
    margin-right: 0;
  }
}
.gnav-list03 a {
  display: block;
  border: 1px solid #CED1D8;
}

.gnav-sns-list {
  margin: 16px auto 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

@media (min-width: 769px) {
  .gnav-sns-list {
    margin: 24px auto 0;
    padding: 0;
  }
}
.gnav-sns-list .item {
  margin: 0 9px 0 0;
}

.gnav-sns-list .item:last-child {
  margin-right: 0;
}

.gnav-sns-list a {
  width: 40px;
  height: 40px;
  border: 1px solid #CED1D8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gnav-sns-list svg {
  fill: #000;
}

.gnav-sns-list .item-insta svg {
  width: 15px;
  height: 15px;
}

.gnav-sns-list .item-tw svg {
  width: 17px;
  height: 13px;
}

.gnav-sns-list .item-fb svg {
  width: 8px;
  height: 15px;
}

.gnav-sns-list .item-line svg {
  width: 16px;
  height: 15px;
}

@media (min-width: 769px) {
  .gnav-lang .gnav-block {
    display: flex;
    align-items: center;
  }
}
/*------------------------------------------
telop
------------------------------------------*/
.telop-block {
  padding: 9px 14px;
  background: #F2F2F2;
}

.telop-txt {
  margin: 0 auto 9px;
  font-size: 11px;
  line-height: 1.4545454545;
  letter-spacing: 0.05em;
}

@media (min-width: 769px) {
  .telop-txt {
    margin: 0 auto 4px;
    font-size: 12px;
    line-height: 1.6666666667;
    text-align: center;
  }
}
.telop-txt:last-child {
  margin-bottom: 0;
}

.telop-txt a {
  text-decoration: underline;
}

/* =========================================================
common header
========================================================= */
.info {
  padding: 40px 0 20px;
  text-align: center;
}

@media (min-width: 769px) {
  .info {
    padding: 50px 45px 30px;
  }
}
@media (min-width: 1025px) {
  .info {
    padding-left: 95px;
    padding-right: 95px;
  }
}
.info > * {
  margin: 0 auto 64px;
}

@media (min-width: 769px) {
  .info > * {
    margin: 0 auto 35px;
  }
}
.info > *:last-child {
  margin-bottom: 0;
}

.info #information {
  margin-top: -125px;
  padding-top: 90px;
  z-index: -1;
}

@media (min-width: 769px) {
  .info #information {
    margin-top: -72px;
    padding-top: 72px;
  }
}
.info .block01 {
  padding-top: 50px;
  margin-top: -130px;
}

@media (min-width: 769px) {
  .info .block01 {
    padding-top: 50px;
    margin-top: -80px;
  }
}
@media (min-width: 769px) {
  .info .block02 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.ft-bnr-list {
  padding: 0 20px;
}

@media (min-width: 769px) {
  .ft-bnr-list {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
.ft-bnr-item {
  margin: 0 auto 16px;
}

@media (min-width: 769px) {
  .ft-bnr-item {
    width: calc(50% - 24px);
    margin: 24px 0 0 48px;
  }
}
.ft-bnr-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 769px) {
  .ft-bnr-item:nth-child(2n-1) {
    margin-left: 0;
  }
}
@media (min-width: 769px) {
  .ft-bnr-item:nth-child(-n+2) {
    margin-top: 0;
  }
}
.ft-bnr-item a {
  display: block;
  border: 1px solid #CED1D8;
}

.info-title {
  padding-top: 10px;
}

@media (min-width: 769px) {
  .ft-information-box {
    display: grid;
    grid-template-columns: 39% 5% 56%;
    grid-template-rows: 17.96875vw auto;
  }
}
@media (min-width: 1281px) {
  .ft-information-box {
    grid-template-rows: 230px auto;
  }
}
.ft-information-box > * {
  margin: 0 auto 24px;
}

@media (min-width: 769px) {
  .ft-information-box > * {
    margin: 0;
  }
}
.ft-information-box > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 769px) {
  .ft-information-img {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (min-width: 769px) {
  .ft-information-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    font-family: "object-fit: cover;";
  }
}
.information-data {
  padding: 0 20px;
}

@media (min-width: 769px) {
  .information-data {
    grid-column: 3/4;
    grid-row: 1/3;
    padding: 0;
  }
}
.information-data .head {
  padding: 10px 0;
  border-top: 2px solid #000;
  border-bottom: 1px solid #CED1D8;
  font-size: 15px;
  line-height: 1.8;
  font-weight: bold;
  letter-spacing: 0.1em;
  position: relative;
}

@media (min-width: 769px) {
  .information-data .head {
    padding: 13px 0;
    font-size: 16px;
    line-height: 1.6875;
  }
}
.information-data .head .note {
  max-width: calc(100% - 7em);
  font-size: 11px;
  color: #6A6B6F;
  letter-spacing: 0;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media (min-width: 769px) {
  .information-data .head .note {
    display: inline;
    width: auto;
    margin: 0 0 0 100px;
    position: relative;
    transform: none;
  }
}
.information-data .bundle {
  padding: 20px 0;
  border-bottom: 1px solid #CED1D8;
  font-size: 13px;
  line-height: 2.0769230769;
  display: flex;
  align-items: center;

}


@media (min-width: 769px) {
  .information-data .bundle {
    padding: 20px 0;
    font-size: 14px;
    line-height: 1.9285714286;
  }
}

.bundle2 {
  padding: 20px 0;
  border-bottom: 1px solid #CED1D8;
  font-size: 13px;
  line-height: 2.0769230769;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}


@media (min-width: 769px) {
.bundle2 {
    padding: 20px 0;
    font-size: 14px;
    line-height: 1.9285714286;
    flex-direction: row-reverse;
  }
}

.information-data dt {
  width: 115px;
  font-weight: normal;
}

@media (min-width: 769px) {
  .information-data dt {
    width: 170px;
  }
}
.information-data dd {
  width: calc(100% - 115px);
}

@media (min-width: 769px) {
  .information-data dd {
    width: calc(100% - 170px);
  }
}
@media (min-width: 1025px) {
  .information-data dd {
    /* display: flex; */
    align-items: center;
  }
}
@media (min-width: 1025px) {
  .information-data dd br {
    display: none;
  }
}
@media (min-width: 1025px) {
  .information-data dd .txt {
    width: 65%;
    padding: 0 5% 0 0;
  }
}
@media (min-width: 1025px) {
  .information-data dd .link {
    width: 35%;
  }
}
.information-data dd a {
  text-decoration: underline;
}

@media (min-width: 769px) {
  .information-data dd a {
    font-size: 12px;
  }
}
@media (min-width: 769px) {
  .information-data dd a[href*=tel] {
    display: none;
  }
}
.information-data .btn-list {
  padding: 24px 0 0;
  border-top: 1px solid #CED1D8;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 769px) {
  .information-data .btn-list {
    padding: 32px 0 0;
  }
}
.information-data .btn-list .cmn-btn02 {
  width: calc(50% - 4px);
  margin: 8px 8px 0 0;
}

.information-data .btn-list .cmn-btn02:nth-child(-n+2) {
  margin-top: 0;
}

.information-data .btn-list .cmn-btn02:nth-child(2n) {
  margin-right: 0;
}

.information-data .btn-list svg {
  width: 17px;
  height: 17px;
}

.ft-information-insta {
  padding: 0 20px;
}

@media (min-width: 769px) {
  .ft-information-insta {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0;
  }
}
.ft-information-insta .inner {
  padding: 24px;
  background: #F2F2F2;
}

@media (min-width: 769px) {
  .ft-information-insta .inner {
    padding: 24px 30px;
  }
}
.ft-information-insta .txt01 {
  text-align: center;
  font-size: 13px;
  line-height: 2.0769230769;
}

@media (min-width: 769px) {
  .ft-information-insta .txt01 {
    font-size: 14px;
  }
}
.ft-information-insta .box {
  margin: 14px auto 0;
  display: flex;
  align-items: center;
}

@media (min-width: 769px) {
  .ft-information-insta .box {
    max-width: 290px;
  }
}
.ft-information-insta .logo {
  width: 80px;
}

.ft-information-insta .txt02 {
  width: calc(100% - 80px);
  padding: 0 0 0 12px;
  font-size: 15px;
  line-height: 1.7333333333;
  letter-spacing: -0.01em;
}

.ft-information-insta .cmn-btn02 {
  margin: 16px auto 0;
}

.ft-information-insta .cmn-btn02 a {
  font-size: 14px;
  font-weight: bold;
}

.ft-information-insta .cmn-btn02 svg {
  width: 15px;
  height: 15px;
}

.ft-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ft-nav-item {
  margin: 0 23px 0 0;
}

.ft-nav-item:last-child {
  margin-right: 0;
}

.ft-nav-item a {
  color: #6A6B6F;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.1em;
}

@media (min-width: 769px) {
  .ft-nav-item a {
    letter-spacing: 0.05em;
  }
}
footer {
  padding: 40px 0 10px;
  text-align: center;
}
footer .copy {
  color: #fff;
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
}

@media (min-width: 769px) {
  footer {
    padding: 40px 0 10px;
    text-align: center;
  }
  footer .copy {
    color: #fff;
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
  }
}
/* =========================================================
wyswyg
========================================================= */
.wysiwyg {
  word-break: break-all;
}

.wysiwyg img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.wysiwyg a {
  text-decoration: underline;
  transition: opacity 0.2s ease;
}

.wysiwyg a:hover {
  opacity: 0.7;
}

.wysiwyg strong,
.wysiwyg b {
  font-weight: bold;
}

.wysiwyg em {
  font-style: italic;
}

.wysiwyg ul,
.wysiwyg ol {
  padding-left: 1.5em;
}

.wysiwyg ul {
  list-style: disc;
}

.wysiwyg ol {
  list-style: decimal;
}

.wysiwyg table {
  width: 100% !important;
  border-collapse: collapse;
}

.wysiwyg table th,
.wysiwyg table td {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: left;
}

.wysiwyg table th {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .wysiwyg .table-wrap {
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .wysiwyg .table-wrap::-webkit-scrollbar {
    height: 15px;
  }

  .wysiwyg .table-wrap::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .wysiwyg .table-wrap::-webkit-scrollbar-thumb {
    background: #bbb;
  }
}
.wysiwyg .youtube {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  display: inline-block;
  position: relative;
}

@media screen and (min-width: 768px) {
  .wysiwyg .youtube {
    width: 640px;
    height: 360px;
    padding-top: 0;
  }
}
.wysiwyg .youtube iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
/*# sourceMappingURL=../css/maps/common.css.map */
