/*! destyle.css v1.0.13 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model
   ========================================================================== */

* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm
   ========================================================================== */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration)
   ========================================================================== */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition)
   ========================================================================== */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms
   ========================================================================== */

/**
 * Reset form fields to make them styleable
 * 1. Reset radio and checkbox to preserve their look in iOS.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

[type="checkbox"] {
  /* 1 */
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  /* 1 */
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  padding: 0; /* 1 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Table
   ========================================================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}




/* helper
   ========================================================================== */
/*-- display --*/
.dn {display: none !important;}.db {display: block !important;}.di {display: inline !important;}.dib {display: inline-block !important;}

/*-- fonts --*/
.fwN {font-weight: normal !important;}.fwB {font-weight: bold !important;}.fz10 {font-size: 10px !important;}.fz11 {font-size: 11px !important;}.fz12 {font-size: 12px !important;}.fz13 {font-size: 13px !important;}.fz14 {font-size: 14px !important;}.fz15 {font-size: 15px !important;}.fz16 {font-size: 16px !important;}.fz17 {font-size: 17px !important;}.fz18 {font-size: 18px !important;}.fz19 {font-size: 19px !important;}.fz20 {font-size: 20px !important;}.fz21 {font-size: 21px !important;}.fz22 {font-size: 22px !important;}.fz23 {font-size: 23px !important;}.fz24 {font-size: 24px !important;}.fz25 {font-size: 25px !important;}

/*-- colors --*/
.c-red {color: #CB0000 !important;}.c-blue {color: #00f !important;}.c-black {color: #1E1E1F !important;}

/*-- position --*/
.posR { position: relative !important; }.posA { position: absolute !important; }

/*-- border --*/
.bd {border: 1px solid #1E1E1F !important;}.bdt {border-top: 1px solid #1E1E1F !important;}.bdr {border-right: 1px solid #1E1E1F !important;}.bdb {border-bottom: 1px solid #1E1E1F !important;}.bdl {border-left: 1px solid #1E1E1F !important;}.bdN {border: none !important;}.bdtN {border-top: none !important;}.bdrN {border-right: none !important;}.bdbN {border-bottom: none !important;}.bdlN {border-left: none !important;}

/*-- vertical-align --*/
.vaT {vertical-align: top !important;}.vaM {vertical-align: middle !important;}.vaB {vertical-align: bottom !important;}

/*-- text-align --*/
.taC { text-align: center !important;}.taL { text-align: left !important;}.taR { text-align: right !important;}

/*-- float --*/
.flR { float: right !important; }.flL { float: left !important; }.flN { float: none !important; }

/*-- margin --*/
.mc {margin: 0 auto;}.m00 {margin: 0 !important;}.m05 {margin: 5px !important;}.m10 {margin: 10px !important;}.m15 {margin: 15px !important;}.m20 {margin: 20px !important;}.m25 {margin: 25px !important;}.m30 {margin: 30px !important;}.m35 {margin: 35px !important;}.m40 {margin: 40px !important;}.m45 {margin: 45px !important;}.m50 {margin: 50px !important;}.mta {margin-top: auto;}.mt00 {margin-top: 0 !important;}.mt05 {margin-top: 5px !important;}.mt10 {margin-top: 10px !important;}.mt15 {margin-top: 15px !important;}.mt20 {margin-top: 20px !important;}.mt25 {margin-top: 25px !important;}.mt30 {margin-top: 30px !important;}.mt35 {margin-top: 35px !important;}.mt40 {margin-top: 40px !important;}.mt45 {margin-top: 45px !important;}.mt50 {margin-top: 50px !important;}.mt55 {margin-top: 55px !important;}.mt60 {margin-top: 60px !important;}.mt65 {margin-top: 65px !important;}.mt70 {margin-top: 70px !important;}.mt75 {margin-top: 75px !important;}.mt80 {margin-top: 80px !important;}.mt85 {margin-top: 85px !important;}.mt90 {margin-top: 90px !important;}.mt95 {margin-top: 95px !important;}.mt100 {margin-top: 100px !important;}.mra {margin-right: auto;}.mr00 {margin-right: 0 !important;}.mr05 {margin-right: 5px !important;}.mr10 {margin-right: 10px !important;}.mr15 {margin-right: 15px !important;}.mr20 {margin-right: 20px !important;}.mr25 {margin-right: 25px !important;}.mr30 {margin-right: 30px !important;}.mr35 {margin-right: 35px !important;}.mr40 {margin-right: 40px !important;}.mr45 {margin-right: 45px !important;}.mr50 {margin-right: 50px !important;}.mr55 {margin-right: 55px !important;}.mr60 {margin-right: 60px !important;}.mr65 {margin-right: 65px !important;}.mr70 {margin-right: 70px !important;}.mr75 {margin-right: 75px !important;}.mr80 {margin-right: 80px !important;}.mr85 {margin-right: 85px !important;}.mr90 {margin-right: 90px !important;}.mr95 {margin-right: 95px !important;}.mr100 {margin-right: 100px !important;}.mba {margin-bottom: auto;}.mb00 {margin-bottom: 0 !important;}.mb05 {margin-bottom: 5px !important;}.mb10 {margin-bottom: 10px !important;}.mb15 {margin-bottom: 15px !important;}.mb20 {margin-bottom: 20px !important;}.mb25 {margin-bottom: 25px !important;}.mb30 {margin-bottom: 30px !important;}.mb35 {margin-bottom: 35px !important;}.mb40 {margin-bottom: 40px !important;}.mb45 {margin-bottom: 45px !important;}.mb50 {margin-bottom: 50px !important;}.mb55 {margin-bottom: 55px !important;}.mb60 {margin-bottom: 60px !important;}.mb65 {margin-bottom: 65px !important;}.mb70 {margin-bottom: 70px !important;}.mb75 {margin-bottom: 75px !important;}.mb80 {margin-bottom: 80px !important;}.mb85 {margin-bottom: 85px !important;}.mb90 {margin-bottom: 90px !important;}.mb95 {margin-bottom: 95px !important;}.mb100 {margin-bottom: 100px !important;}.mla {margin-left: auto;}.ml00 {margin-left: 0 !important;}.ml05 {margin-left: 5px !important;}.ml10 {margin-left: 10px !important;}.ml15 {margin-left: 15px !important;}.ml20 {margin-left: 20px !important;}.ml25 {margin-left: 25px !important;}.ml30 {margin-left: 30px !important;}.ml35 {margin-left: 35px !important;}.ml40 {margin-left: 40px !important;}.ml45 {margin-left: 45px !important;}.ml50 {margin-left: 50px !important;}.ml55 {margin-left: 55px !important;}.ml60 {margin-left: 60px !important;}.ml65 {margin-left: 65px !important;}.ml70 {margin-left: 70px !important;}.ml75 {margin-left: 75px !important;}.ml80 {margin-left: 80px !important;}.ml85 {margin-left: 85px !important;}.ml90 {margin-left: 90px !important;}.ml95 {margin-left: 95px !important;}.ml100 {margin-left: 100px !important;}
/*-- padding --*/
.p00 {padding: 0;}.p05 {padding: 5px !important;}.p10 {padding: 10px !important;}.p15 {padding: 15px !important;}.p20 {padding: 20px !important;}.p25 {padding: 25px !important;}.p30 {padding: 30px !important;}.p35 {padding: 35px !important;}.p40 {padding: 40px !important;}.p45 {padding: 45px !important;}.p50 {padding: 50px !important;}.pt00 {padding-top: 0 !important;}.pt05 {padding-top: 5px !important;}.pt10 {padding-top: 10px !important;}.pt15 {padding-top: 15px !important;}.pt20 {padding-top: 20px !important;}.pt25 {padding-top: 25px !important;}.pt30 {padding-top: 30px !important;}.pt35 {padding-top: 35px !important;}.pt40 {padding-top: 40px !important;}.pt45 {padding-top: 45px !important;}.pt50 {padding-top: 50px !important;}.pt55 {padding-top: 55px !important;}.pt60 {padding-top: 60px !important;}.pt65 {padding-top: 65px !important;}.pt70 {padding-top: 70px !important;}.pt75 {padding-top: 75px !important;}.pt80 {padding-top: 80px !important;}.pt85 {padding-top: 85px !important;}.pt90 {padding-top: 90px !important;}.pt95 {padding-top: 95px !important;}.pt100 {padding-top: 100px !important;}.pr00 {padding-right: 0 !important;}.pr05 {padding-right: 5px !important;}.pr10 {padding-right: 10px !important;}.pr15 {padding-right: 15px !important;}.pr20 {padding-right: 20px !important;}.pr25 {padding-right: 25px !important;}.pr30 {padding-right: 30px !important;}.pr35 {padding-right: 35px !important;}.pr40 {padding-right: 40px !important;}.pr45 {padding-right: 45px !important;}.pr50 {padding-right: 50px !important;}.pr55 {padding-right: 55px !important;}.pr60 {padding-right: 60px !important;}.pr65 {padding-right: 65px !important;}.pr70 {padding-right: 70px !important;}.pr75 {padding-right: 75px !important;}.pr80 {padding-right: 80px !important;}.pr85 {padding-right: 85px !important;}.pr90 {padding-right: 90px !important;}.pr95 {padding-right: 95px !important;}.pr100 {padding-right: 100px !important;}.pb00 {padding-bottom: 0 !important;}.pb05 {padding-bottom: 5px !important;}.pb10 {padding-bottom: 10px !important;}.pb15 {padding-bottom: 15px !important;}.pb20 {padding-bottom: 20px !important;}.pb25 {padding-bottom: 25px !important;}.pb30 {padding-bottom: 30px !important;}.pb35 {padding-bottom: 35px !important;}.pb40 {padding-bottom: 40px !important;}.pb45 {padding-bottom: 45px !important;}.pb50 {padding-bottom: 50px !important;}.pb55 {padding-bottom: 55px !important;}.pb60 {padding-bottom: 60px !important;}.pb65 {padding-bottom: 65px !important;}.pb70 {padding-bottom: 70px !important;}.pb75 {padding-bottom: 75px !important;}.pb80 {padding-bottom: 80px !important;}.pb85 {padding-bottom: 85px !important;}.pb90 {padding-bottom: 90px !important;}.pb95 {padding-bottom: 95px !important;}.pb100 {padding-bottom: 100px !important;}.pl00 {padding-left: 0 !important;}.pl05 {padding-left: 5px !important;}.pl10 {padding-left: 10px !important;}.pl15 {padding-left: 15px !important;}.pl20 {padding-left: 20px !important;}.pl25 {padding-left: 25px !important;}.pl30 {padding-left: 30px !important;}.pl35 {padding-left: 35px !important;}.pl40 {padding-left: 40px !important;}.pl45 {padding-left: 45px !important;}.pl50 {padding-left: 50px !important;}.pl55 {padding-left: 55px !important;}.pl60 {padding-left: 60px !important;}.pl65 {padding-left: 65px !important;}.pl70 {padding-left: 70px !important;}.pl75 {padding-left: 75px !important;}.pl80 {padding-left: 80px !important;}.pl85 {padding-left: 85px !important;}.pl90 {padding-left: 90px !important;}.pl95 {padding-left: 95px !important;}.pl100 {padding-left: 100px !important;}
