@charset "UTF-8";
/*------------------------------------------
shop list
------------------------------------------*/
.shoplist-nav .cmn-nav01 .nav-list {
  flex-wrap: wrap;
  border-bottom: none;
}

@media (min-width: 769px) {
  .shoplist-nav .cmn-nav01 .nav-list {
    border-bottom: #CED1D8 1px solid;
  }
}
.shoplist-nav .cmn-nav01 .nav-item {
  width: 50%;
  border-bottom: #CED1D8 1px solid;
}

@media (min-width: 769px) {
  .shoplist-nav .cmn-nav01 .nav-item {
    width: 25%;
    max-width: 216px;
    border-bottom: none;
  }
}
.shoplist-nav .cmn-nav01 .nav-item a {
  padding-top: 20px;
}

@media (min-width: 769px) {
  .shoplist-nav .cmn-nav01 .nav-item a {
    padding-top: 0;
  }
}
.shoplist-nav .cmn-nav03 {
  margin: 40px auto 0;
  max-width: 910px;
}

@media (min-width: 769px) {
  .shoplist-nav .cmn-nav03 {
    margin: 64px auto 0;
  }
}
.shoplist-nav .cmn-nav03 .nav-item a, .shoplist-nav .cmn-nav03 .nav-item span {
  font-size: 18px;
}

.shoplist-nav .cmn-nav04 {
  margin: 40px auto 0;
}

@media (min-width: 769px) {
  .shoplist-nav .cmn-nav04 {
    margin: 65px auto 0;
  }
}
body.page-shop-en .cmn-nav03 {
  max-width: 910px;
}

body.page-shop-ja .cmn-nav03 {
  max-width: 650px;
}

/* current */
body.page-shop-en .cmn-nav01 .item-alphabet a:after,
body.page-shop-ja .cmn-nav01 .item-kana a:after,
body.page-shop-category .cmn-nav01 .item-category a:after,
body.page-shop-keyword .cmn-nav01 .item-keyword a:after {
  width: 100%;
}

.keyword-block {
  padding: 40px 20px;
}

@media (min-width: 769px) {
  .keyword-block {
    padding: 65px 0;
  }
}
.keyword-block .keyword {
  max-width: 522px;
  margin: 0 auto;
  background: #F2F2F2;
  display: flex;
}

.keyword-block input {
  height: 48px;
}

@media (min-width: 769px) {
  .keyword-block input {
    height: 57px;
  }
}
.keyword-block input[type=text] {
  padding: 17px 20px;
  flex: 1 1 auto;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
}

@media (min-width: 769px) {
  .keyword-block input[type=text] {
    padding: 22px 30px;
    font-size: 13px;
    letter-spacing: 0.08em;
  }
}
.keyword-block input[type=submit] {
  width: 60px;
  background: url(../images/common/ico_search.svg) no-repeat center/22px 22px;
  cursor: pointer;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}

@media (min-width: 769px) {
  .keyword-block input[type=submit] {
    width: 80px;
  }
}
.shoplist-wrap {
  margin: 40px auto 0;
}

@media (min-width: 769px) {
  .shoplist-wrap {
    margin: 60px auto 0;
  }
}
.shoplist-block {
  border-top: 4px solid #000;
  margin: 0 auto 40px;
}

@media (min-width: 769px) {
  .shoplist-block {
    margin: 0 auto 65px;
  }
}
.shoplist-block:last-child {
  margin-bottom: 0;
}

.shoplist-block .head {
  padding: 18px 20px 16px;
  border-bottom: 1px solid #CED1D8;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.05em;
}

@media (min-width: 769px) {
  .shoplist-block .head {
    padding: 18px 8px 16px;
  }
}
@media (min-width: 769px) {
  body.page-shop-category .shop-list {
    width: calc(100% + 48px);
  }
}
@media (min-width: 769px) {
  body.page-shop-category .shop-list .item {
    width: calc(50% - 48px);
    margin: 0 48px 0 0;
  }
}
[class*=itemsearch] {
  display: none;
}

.search-ttl {
  padding: 25px 20px;
  border-top: 4px solid #000;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: bold;
}

@media (min-width: 769px) {
  .search-ttl {
    padding: 35px 0;
    font-size: 26px;
    line-height: 1.3846153846;
  }
}
.search-result {
  padding: 20px 20px 0;
  border-top: 1px solid #CED1D8;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
}

@media (min-width: 769px) {
  .search-result {
    padding: 20px 0 0;
  }
}
.search-list {
  margin: 30px auto 0;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 769px) {
  .search-list {
    margin: 40px auto 0;
    padding: 0;
  }
}
.search-list .item {
  width: calc(50% - 10px);
  margin: 32px 10px 0 0;
  display: none;
}

@media (min-width: 769px) {
  .search-list .item {
    width: calc(33.33% - 32px);
    margin: 32px 48px 0 0;
  }
}
.search-list .item:nth-child(-n+2) {
  margin-top: 0;
}

@media (min-width: 769px) {
  .search-list .item:nth-child(-n+3) {
    margin-top: 0;
  }
}
.search-list .item:nth-child(2n) {
  margin-right: 0;
}

@media (min-width: 769px) {
  .search-list .item:nth-child(2n) {
    margin-right: 48px;
  }
}
@media (min-width: 769px) {
  .search-list .item:nth-child(3n) {
    margin-right: 0;
  }
}
.search-list .item:nth-child(-n+12) {
  display: block;
}

.search-list .img-wrap {
  border: 1px solid #CED1D8;
}

.search-list .img-wrap:before {
  content: "";
  padding-top: 100%;
}

.search-list .img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.search-list .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
}

.search-more {
  margin: 40px auto 0;
}

@media (min-width: 769px) {
  .search-more {
    margin: 55px auto 0;
  }
}
/*------------------------------------------
restaurant & cafe
------------------------------------------*/
.restaurant-nav {
  padding: 0 20px;
}

@media (min-width: 769px) {
  .restaurant-nav {
    padding: 0;
  }
}
.restaurant-nav .cmn-nav01 a {
  padding-left: 24px;
  padding-right: 24px;
}

.restaurant-nav .pc-nav {
  display: none;
}

@media (min-width: 880px) {
  .restaurant-nav .pc-nav {
    display: block;
  }
}
@media (min-width: 880px) {
  .restaurant-nav .sp-nav {
    display: none;
  }
}
.restaurant-nav .local-nav {
  margin: 20px auto 0;
}

@media (min-width: 769px) {
  .restaurant-nav .local-nav {
    margin: 40px auto 0;
  }
}
.restaurant-nav .local-nav .nav-item {
  width: calc(50% - 5px);
  margin: 10px 10px 0 0;
}

@media (min-width: 769px) {
  .restaurant-nav .local-nav .nav-item {
    width: calc(25% - 12px);
    margin: 10px 16px 0 0;
  }
}
.restaurant-nav .local-nav .nav-item:nth-child(-n+2) {
  margin-top: 0;
}

@media (min-width: 769px) {
  .restaurant-nav .local-nav .nav-item:nth-child(-n+4) {
    margin-top: 0;
  }
}
.restaurant-nav .local-nav .nav-item:nth-child(2n) {
  margin-right: 0;
}

@media (min-width: 769px) {
  .restaurant-nav .local-nav .nav-item:nth-child(2n) {
    margin-right: 16px;
  }
}
@media (min-width: 769px) {
  .restaurant-nav .local-nav .nav-item:nth-child(4n) {
    margin-right: 0;
  }
}
@media (max-width: 374px) {
  .restaurant-nav .local-nav .nav-item a {
    font-size: 12px;
  }
}
.restaurant-block {
  margin: 40px auto 0;
  padding: 0 20px;
}

@media (min-width: 769px) {
  .restaurant-block {
    margin: 64px auto 0;
    padding: 0;
  }
}
.restaurant-sec {
  padding: 0 0 40px;
}

@media (min-width: 769px) {
  .restaurant-sec {
    margin: 0 0 65px;
  }
}
.restaurant-sec:last-child {
  padding-bottom: 0;
}

.restaurant-sec .head a,
.restaurant-sec .head span {
  height: 70px;
  border-top: 4px solid #000;
  border-bottom: 1px solid #CED1D8;
  position: relative;
  display: flex;
  align-items: center;
}

@media (min-width: 769px) {
  .restaurant-sec .head a,
.restaurant-sec .head span {
    padding: 0;
  }
}
.restaurant-sec .head span {
  padding: 0 20px;
}

.restaurant-sec .head a {
  padding: 0 0 0 20px;
}

.restaurant-sec .floor {
  min-width: 42px;
  padding: 5px;
  background: #000;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  color: #fff;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.05em;
  white-space: nowrap;
  text-align: center;
}

@media (min-width: 769px) {
  .restaurant-sec .floor {
    min-width: 48px;
    padding: 5px 10px;
    font-size: 15px;
  }
}
.restaurant-sec .name {
  padding: 0 15px;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 18px;
  font-weight: bold;
  flex: 1;
}

@media (min-width: 769px) {
  .restaurant-sec .name {
    padding: 0 25px;
    font-size: 26px;
    text-align: center;
  }
}
.restaurant-sec .name img {
  width: auto;
  max-width: 100%;
  max-height: 70px;
}

.restaurant-sec .arrow {
  width: 70px;
  height: 65px;
  position: relative;
}

.restaurant-sec .arrow:after {
  content: "";
  width: 22px;
  height: 22px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%) rotate(45deg);
}

.sec-neon .head a {
  border-top-color: #CB0000;
}

.sec-neon .head .floor,
.sec-neon .head .arrow {
  background: #CB0000;
}

.sec-yorimichi .head a {
  border-top-color: #D4B572;
}

.sec-yorimichi .head .floor,
.sec-yorimichi .head .arrow {
  background: #D4B572;
}

.sec-midosuzi .head a {
  border-top-color: #9F0040;
}

.sec-midosuzi .head .floor,
.sec-midosuzi .head .arrow {
  background: #9F0040;
}

.restaurant-list {
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
}

.restaurant-list .item {
  width: calc(50% - 10px);
  margin: 20px 20px 0 0;
}

@media (min-width: 769px) {
  .restaurant-list .item {
    width: calc(33.33% - 32px);
    margin: 32px 48px 0 0;
  }
}
.restaurant-list .item:nth-child(-n+2) {
  margin-top: 0;
}

.restaurant-list .item:nth-child(2n) {
  margin-right: 0;
}

@media (min-width: 769px) {
  .restaurant-list .item:nth-child(2n) {
    margin-right: 48px;
  }
}
@media (min-width: 769px) {
  .restaurant-list .item:nth-child(-n+3) {
    margin-top: 0;
  }
}
@media (min-width: 769px) {
  .restaurant-list .item:nth-child(3n) {
    margin-right: 0;
  }
}
.restaurant-list .img-wrap:before {
  content: "";
  padding-top: 100%;
}

.restaurant-list .img-wrap .img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.restaurant-list .img-wrap img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  font-family: "object-fit: cover;";
}

.restaurant-list .tag {
  font-size: 12px;
  top: 0;
  left: 0;
}

.restaurant-list .tag .ico {
  display: inline-block;
  margin: 0 5px 0 0;
  vertical-align: text-top;
}

.restaurant-list .tag svg {
  width: 13px;
  height: 13px;
}

.no-restaurant {
  padding: 30px 0 20px;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 15px;
  line-height: 1.4;
  font-weight: bold;
}

@media (min-width: 769px) {
  .no-restaurant {
    padding: 40px 0 20px;
    font-size: 20px;
    line-height: 1.4;
  }
}
/*------------------------------------------
shop detail
------------------------------------------*/
body.page-shop-detail .page-cont {
  padding: 0 20px;
  background-color: #000;
}

.shop-detail-block .head {
  padding: 25px 0 16px;
}

@media (min-width: 769px) {
  .shop-detail-block .head {
    padding: 40px 0 64px;
    display: flex;
    align-items: center;
  }
}
.shop-detail-block .summry {
  padding: 25px 0 0;
  display: flex;
  align-items: center;
  position: relative;
}

@media (min-width: 769px) {
  .shop-detail-block .summry {
    width: 35%;
    padding: 0 48px 0 0;
    text-align: center;
    flex-direction: column;
  }
}
.shop-detail-block .floor {
  position: absolute;
  top: 0;
  left: 0;
}

.shop-detail-block .floor span {
  display: inline-block;
  min-width: 40px;
  padding: 2px 8px;
  background: #000;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 769px) {
  .shop-detail-block .floor {
    width: 100%;
    position: relative;
    top: auto;
    left: auto;
  }
}
.shop-detail-block .logo {
  width: 104px;
}

@media (min-width: 769px) {
  .shop-detail-block .logo {
    width: 120px;
    margin: 16px auto 0;
  }
}
.shop-detail-block .name {
  width: calc(100% - 104px);
  padding: 0 0 0 16px;
}

@media (min-width: 769px) {
  .shop-detail-block .name {
    width: 100%;
    margin: 11px auto 0;
    padding: 0;
  }
}
.shop-detail-block .name .en {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}

.shop-detail-block .name .ja {
  margin: 8px auto 0;
  color: #6A6B6F;
  font-size: 11px;
  line-height: 1.5454545455;
}

.shop-detail-block .name .note {
  margin: 8px auto 0;
  font-size: 13px;
  line-height: 2;
}

.shop-detail-block .img {
  width: 100vw;
  margin: 16px auto 0;
  transform: translateX(-20px);
}

@media (min-width: 769px) {
  .shop-detail-block .img {
    width: 65%;
    margin: 0;
    transform: none;
  }
}
.shop-detail-block .contents {
  margin: 24px auto 0;
}

@media (min-width: 769px) {
  .shop-detail-block .contents {
    margin: 64px auto 0;
    max-width: 712px;
  }
}
.shop-detail-block .txt {
  font-size: 13px;
  line-height: 1.7692307692;
  color: #fff;
}

@media (min-width: 769px) {
  .shop-detail-block .txt {
    font-size: 13px;
    line-height: 2;
    letter-spacing: 0.08em;
  }
}
.shop-detail-block .cmn-layout01 {
  margin: 40px auto 0;
}

@media (min-width: 769px) {
  .shop-detail-block .cmn-layout01 .list {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.08em;
  }
}
@media (min-width: 769px) {
  .shop-detail-block .cmn-layout01 .bundle {
    margin: 0 auto 20px;
  }
}
@media (min-width: 769px) {
  .shop-detail-block .cmn-layout01 .bundle:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 769px) {
  .shop-detail-block .cmn-layout01 dt {
    width: 180px;
  }
}
@media (min-width: 769px) {
  .shop-detail-block .cmn-layout01 dd {
    width: calc(100% - 180px);
  }
}
.shop-detail-block .cmn-pict-list02 {
  margin: 0 auto 10px;
}

.shop-detail-block .cmn-pict-list02 .pict {
  width: 20px;
  margin: 0 20px 0 0;
}

.shop-detail-block .cmn-pict-list02 .pict:last-child {
  margin-right: 0;
}

@media (min-width: 769px) {
  .campaign-block .cmn-list01 {
    display: flex;
    flex-wrap: wrap;
  }
}
.campaign-block .cmn-list01 .item {
  margin: 0 auto 25px;
}

@media (min-width: 769px) {
  .campaign-block .cmn-list01 .item {
    width: calc(50% - 24px);
    margin: 30px 48px 0 0;
  }
}
@media (min-width: 1025px) {
  .campaign-block .cmn-list01 .item {
    width: calc(33.33% - 32px);
  }
}
.campaign-block .cmn-list01 .item:last-child {
  margin-bottom: 0;
}

@media (min-width: 769px) {
  .campaign-block .cmn-list01 .item:nth-child(-n+2) {
    margin-top: 0;
  }
}
@media (min-width: 769px) {
  .campaign-block .cmn-list01 .item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 1025px) {
  .campaign-block .cmn-list01 .item:nth-child(2n) {
    margin-right: 48px;
  }
}
@media (min-width: 1025px) {
  .campaign-block .cmn-list01 .item:nth-child(-n+3) {
    margin-top: 0;
  }
}
@media (min-width: 1025px) {
  .campaign-block .cmn-list01 .item:nth-child(3n) {
    margin-right: 0;
  }
}
.campaign-block .cmn-list01 .item a {
  display: flex;
}

.campaign-block .cmn-list01 .img-wrap {
  width: 33vw;
}

@media (min-width: 769px) {
  .campaign-block .cmn-list01 .img-wrap {
    width: 43%;
  }
}
.campaign-block .cmn-list01 .detail {
  width: calc(100% - 33vw);
  padding: 0 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 769px) {
  .campaign-block .cmn-list01 .detail {
    width: calc(100% - 43%);
  }
}
.campaign-block .cmn-list01 .detail > * {
  width: 100%;
}

@media (min-width: 769px) {
  .campaign-block .cmn-list01 .detail .txt01 {
    max-height: 5.1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
}
.campaign-block .cmn-list01 .detail .txt04 {
  margin: 0 auto 6px;
}

.news-block .cmn-list01 {
  display: flex;
  flex-wrap: wrap;
}

.news-block .cmn-list01 .item {
  width: calc(50% - 10px);
  margin: 30px 20px 0 0;
}

@media (min-width: 769px) {
  .news-block .cmn-list01 .item {
    width: calc(33.33% - 32px);
    margin: 30px 48px 0 0;
  }
}
@media (min-width: 1025px) {
  .news-block .cmn-list01 .item {
    width: calc(25% - 36px);
  }
}
.news-block .cmn-list01 .item:nth-child(-n+2) {
  margin-top: 0;
}

.news-block .cmn-list01 .item:nth-child(2n) {
  margin-right: 0;
}

@media (min-width: 769px) {
  .news-block .cmn-list01 .item:nth-child(2n) {
    margin-right: 48px;
  }
}
@media (min-width: 769px) {
  .news-block .cmn-list01 .item:nth-child(-n+3) {
    margin-top: 0;
  }
}
@media (min-width: 769px) {
  .news-block .cmn-list01 .item:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 1025px) {
  .news-block .cmn-list01 .item:nth-child(3n) {
    margin-right: 48px;
  }
}
@media (min-width: 1025px) {
  .news-block .cmn-list01 .item:nth-child(-n+4) {
    margin-top: 0;
  }
}
@media (min-width: 1025px) {
  .news-block .cmn-list01 .item:nth-child(4n) {
    margin-right: 0;
  }
}
.olinestore-block .cmn-list01 {
  display: flex;
  flex-wrap: wrap;
}

.olinestore-block .cmn-list01 .item {
  width: calc(50% - 10px);
  margin: 30px 20px 0 0;
}

@media (min-width: 769px) {
  .olinestore-block .cmn-list01 .item {
    width: calc(33.33% - 32px);
    margin: 30px 48px 0 0;
  }
}
.olinestore-block .cmn-list01 .item:nth-child(-n+2) {
  margin-top: 0;
}

.olinestore-block .cmn-list01 .item:nth-child(2n) {
  margin-right: 0;
}

@media (min-width: 769px) {
  .olinestore-block .cmn-list01 .item:nth-child(2n) {
    margin-right: 48px;
  }
}
@media (min-width: 769px) {
  .olinestore-block .cmn-list01 .item:nth-child(-n+3) {
    margin-top: 0;
  }
}
@media (min-width: 769px) {
  .olinestore-block .cmn-list01 .item:nth-child(3n) {
    margin-right: 0;
  }
}
/*# sourceMappingURL=../css/maps/shop.css.map */
